shares:
  {%- for share in samba_shares +%}
  {{ share.name }}-{{ config.be.name }}-{{ config.be.variant }}:
    backend:
      name: {{ config.be.name }}
      variant: {{ config.be.variant}}
      path: {{ config.paths.mount }}/backends/{{ share.name }}
  {%- endfor +%}
