server: {{ public_interfaces[0] }}

users:
  {%- for name in config.accounts +%}
    {%- for user_name in config.accounts[name].users +%}
      {%- set user = config.accounts[name].users[user_name] +%}
      {%- if user.samba +%}
  {% if config.ad.enabled and (site.ad == 'member') %}{{ config.ad.domains[site.domain].workgroup }}\{% endif %}{{ user_name }}: {{ user.password }}
      {%- endif +%}
    {%- endfor +%}
  {%- endfor +%}

backend: {{ config.be.name }}

{% include config.be.name + '-shares-info.yml.j2' %}
