---
- name: Load settings
  include_vars:
    file: "settings.yml"

- name: Generate config.yml in ansible directory
  template:
    src: config.yml.j2
    dest: ./ansible/config.yml
  vars:
    os: "{{ use_distro | default('centos9') }}"
    be: "{{ (backend | default('xfs') | split('.'))[0] }}"
    variant: "{{ (backend | default('xfs') | split('.'))[1] | default('default') }}"
    max_memory: "{{ ansible_memfree_mb }}"
    max_cpu: "{{ ansible_processor_nproc }}"
    vm_prefix: "{{ lookup('env', 'SITE_NAME') | default('site', true) }}"

- name: Load configuration
  include_vars:
    file: "ansible/config.yml"

- debug:
    var: config
