*~
playbooks/.vagrant
playbooks/ansible/vagrant_ansible_inventory
playbooks/ansible/ssh-config-setup
playbooks/vagrant_ansible_inventory
playbooks/ssh-config-host
playbooks/Vagrantfile
playbooks/ansible/config.yml
devel/authorized_keys
