---
extends: default

yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"

rules:
  anchors:
    forbid-duplicated-anchors: true
    forbid-unused-anchors: true
  braces:
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
  brackets:
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
  document-end:
    present: false
    level: error
  document-start:
    present: true
    level: error
  empty-lines:
    max: 1
  float-values:
    forbid-inf: true
    forbid-nan: true
    forbid-scientific-notation: false
    require-numeral-before-decimal: false
    level: error
  indentation:
    spaces: 2
  line-length:
    max: 120
    allow-non-breakable-inline-mappings: true
    level: warning
  new-lines:
    level: warning
  truthy:
    check-keys: false
    allowed-values: ['true', 'false', 'yes', 'no']
