{%- for host in groups['site'] +%}
Host {{ host }}
{%- if config.domain is defined %} {{ host }}.{{ config.domain }}{% endif -%}
{%- for group in config.groups -%}
  {%- if groups[group][0] == host %} {{ group }}{% endif -%}
{%- endfor +%}
  HostName {{ hostvars[host].host_ip }}
  User root
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile {{ site_dir }}/ssh/id_rsa
  IdentitiesOnly yes
  LogLevel FATAL
{%- endfor +%}
