---
- name: Check for required variables
  block:
    - fail:
        msg: "Please provide required variable: ctdb_network_private_interfaces"
      when: ctdb_network_private_interfaces is undefined
    - fail:
        msg: "Please provide these required variable: ctdb_network_public_interfaces"
      when: ctdb_network_public_interfaces is undefined
    - fail:
        msg: "Please provide these required variable: ctdb_network_public_interface_subnet_mask"
      when: ctdb_network_public_interface_subnet_mask is undefined
    - fail:
        msg: "Please provide these required variable: ctdb_network_public_interface_name"
      when: ctdb_network_public_interface_name is undefined

- name: Process backend specific tasks
  include_tasks: "{{ config.be.name }}/main.yml"

- name: Disable firewall
  service:
    name: firewalld
    enabled: false
    state: stopped

- name: Add ctdb package
  yum:
    name: ctdb
    state: present

- name: Enable firewall
  service:
    name: firewalld
    enabled: true
    state: started

- name: Add ctdb rules to firewalld
  firewalld:
    service: ctdb
    permanent: yes
    state: enabled

- name: Reload firewall
  command: firewall-cmd --reload

- name: Configure CTDB
  ini_file:
    path: /etc/ctdb/ctdb.conf
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    state: present
  with_items:
    - section: cluster
      option: cluster lock
      value: /ctdb/lock/cluster.lock
    # See https://github.com/samba-in-kubernetes/sit-environment/issues/18
    - section: legacy
      option: realtime scheduling
      value: "false"

- name: Create /etc/ctdb/nodes
  copy:
    content: |
      {% for item in ctdb_network_private_interfaces -%}
      {{ item }}
      {% endfor -%}
    dest: '/etc/ctdb/nodes'
    mode: '0644'

- name: Create /etc/ctdb/public_addresses
  copy:
    content: |
      {% for item in ctdb_network_public_interfaces -%}
      {{ item }}/{{ ctdb_network_public_interface_subnet_mask }} {{ ctdb_network_public_interface_name }}
      {% endfor -%}
    dest: '/etc/ctdb/public_addresses'
    mode: '0644'

- name: Enable check consistency of databases during startup
  command: '/bin/ctdb event script enable legacy 00.ctdb'

- name: Enable check consistency of databases during startup
  command: '/bin/ctdb event script enable legacy 01.reclock'

- name: Enable monitor system resources
  command: '/bin/ctdb event script enable legacy 05.system'

- name: Enable network interface management by ctdb
  command: '/bin/ctdb event script enable legacy 10.interface'

- name: Enable samba management by ctdb
  command: '/bin/ctdb event script enable legacy 50.samba'

- name: Restart ctdb
  service: name=ctdb state=restarted enabled=yes
