---
- name: Run smbd unconfined
  block:
    - name: Configure SElinux context for smbd
      sefcontext:
        target: /usr/sbin/smbd
        setype: bin_t
        state: present

    - name: Restore SElinux context
      command: restorecon /usr/sbin/smbd
