---
- name: Process OS specific tasks
  include_tasks: "{{ include_file }}"
  with_first_found:
    - files: "{{ config.os[config.nodes[inventory_hostname].os].includes }}"
  loop_control:
    loop_var: include_file

- name: Process backend specific tasks (setup)
  include_role:
    name: 'sit.{{ config.be.name }}'
    tasks_from: setup/main.yml

- name: Prepare configuration files
  become: false
  block:
    - name: copy ansible playbooks to setup machine
      synchronize:
        src: ansible/
        dest: ansible

    - name: ensure permissions on ssh key file
      file:
        path: ansible/insecure_private_ssh_key
        mode: u=rw,g=,o=

    - name: copy ssh config in place
      copy:
        src: ansible/ssh-config-setup
        dest: .ssh/config
        mode: 0600

    - name: Copy config.yml
      copy:
        src: "{{ config.home }}/config.yml"
        dest: ansible/config.yml
