[{{ vol_name }}-{{ config.be.name }}-{{ config.be.variant }}]
comment = Volume '{{ vol_name }}' from {{ config.be.name }}({{ config.be.variant }})
vfs objects = acl_xattr glusterfs
glusterfs:volume = {{ vol_name }}
glusterfs:logfile = /var/log/samba/{{ vol_name }}.%M.log
glusterfs:loglevel = 7
path = /
read only = no
{%- for option, value in volume.samba.options.items() | default([]) +%}
{{ option }} = {{ value }}
{%- endfor +%}
