[libdefaults]
        default_realm = {{ config.ad.domains[site.domain].realm }}
        dns_lookup_realm = false
        dns_lookup_kdc = true

[realms]
{{ config.ad.domains[site.domain].realm }} = {
        default_domain = {{ site.domain }}
}
