---
config:
  os:
  {%- for os_name in os_info +%}
    {{ os_name }}:
      family: "{{ os_info[os_name].family }}"
      distro: "{{ os_info[os_name].distro }}"
      version: "{{ os_info[os_name].version }}"
      includes:
        - "{{ os_info[os_name].distro }}{{ os_info[os_name].version}}.yml"
        - "{{ os_info[os_name].distro }}.yml"
        - "{{ os_info[os_name].family }}.yml"
  {%- endfor +%}

  be:
    name: "{{ be }}"
    variant: "{{ variant }}"

  data: {{ environments[be].data | default({}) }}

  paths: {{ paths }}

  tests: {{ tests }}

  provisioners:
  {%- for prov in environments[be].nodes | dict2items | map(attribute='value.provisioner', default='vagrant') | unique +%}
    {{ prov }}:
    {%- for item in provisioners[prov] | default({}) +%}
      {{ item }}: {{ provisioners[prov][item] }}
    {%- endfor +%}
      hosts:
      {%- for name in environments[be].nodes +%}
        {%- set data = environments[be].nodes[name] +%}
        {%- if data.provisioner | default(environments[be].provisioner | default('vagrant')) == prov +%}
        {%- for idx in range(data.instances | default(1)) +%}
        - {{ name }}{{ idx }}
        {%- endfor +%}
        {%- endif +%}
      {%- endfor +%}
  {%- endfor +%}

{%- set total_mem = max_memory * ((memory | default(resources.memory | default(50))) | int) / 100 +%}
{%- set total_cpu = max_cpu * ((cpu | default(resources.cpu | default(100))) | int) / 100 +%}
{%- set extra_mem = 0 +%}
{%- set extra_cpu = 0 +%}
{%- set base_mem = [] +%}
{%- set base_cpu = [] +%}
{%- set weight_mem = [] +%}
{%- set weight_cpu = [] +%}
{%- for name in environments[be].nodes +%}
{%-   set data = environments[be].nodes[name] +%}
{%-   set count = data.instances | default(1) +%}
{%-   set _ = base_mem.append(count * (data.memory | default(environments[be].memory))) +%}
{%-   set _ = base_cpu.append(count * (data.cpus | default(environments[be].cpus))) +%}
{%-   set _ = weight_mem.append(count * (data.memory_weight | default(1))) +%}
{%-   set _ = weight_cpu.append(count * (data.cpu_weight | default(1))) +%}
{%- endfor +%}
{%- set base_mem = base_mem | sum +%}
{%- set base_cpu = base_cpu | sum +%}
{%- set weight_mem = weight_mem | sum +%}
{%- set weight_cpu = weight_cpu | sum +%}
{%- if weight_mem > 0 +%}
{%-   set extra_mem = ([ total_mem - base_mem, 0] | max) / weight_mem / 1024 +%}
{%- endif +%}
{%- if weight_cpu > 0 +%}
{%-   set extra_cpu = ([ total_cpu - base_cpu, 0] | max) / weight_cpu +%}
{%- endif +%}

  nodes:
  {%- for name in environments[be].nodes +%}
    {%- set data = environments[be].nodes[name] +%}
    {%- set prov = data.provisioner | default(environments[be].provisioner | default('vagrant')) +%}
    {%- for idx in range(data.instances | default(1)) +%}
    {{ name }}{{ idx }}:
      groups: {{ data.groups }}
      provisioner: {{ prov }}
      os: {{ data.os | default(environments[be].os | default(os)) }}
      cpus: {{ (data.cpus | default(environments[be].cpus)) + ((extra_cpu * (data.cpu_weight | default(1))) | int) }}
      memory: {{ (data.memory | default(environments[be].memory)) + 1024 * ((extra_mem * (data.memory_weight | default(1))) | int) }}
      disks: {{ data.disks | default([]) }}
      networks:
      {%- for net in data.networks | default({}) +%}
        {{ net }}: {{ provisioners[prov].networks[net] | ansible.utils.ipaddr(data.networks[net] + idx) | ansible.utils.ipaddr('address') }}
      {%- endfor +%}
      ctdb:
      {%- for net in data.ctdb | default({}) +%}
        {{ net }}: {{ provisioners[prov].networks[net] | ansible.utils.ipaddr(data.ctdb[net] + idx) | ansible.utils.ipaddr('address') }}
      {%- endfor +%}
    {%- endfor +%}
  {%- endfor +%}

  groups:
  {%- for group in environments[be].nodes.values() | map(attribute='groups') | flatten | unique | list +%}
    {{ group }}:
    {%- for host in environments[be].nodes | dict2items | selectattr('value.groups', 'contains', group) | map(attribute='key') | list +%}
      {%- for idx in range(environments[be].nodes[host].instances | default(1)) +%}
      - {{ host }}{{ idx }}
      {%- endfor +%}
    {%- endfor +%}
  {%- endfor +%}

  statedir: "{{ misc.host.statedir }}/sit.{{ backend }}_statedump"
  configdir: "{{ misc.host.configdir }}"
