# -*- mode: ruby -*-
# vi: set ft=ruby :
#

Vagrant.configure("2") do |config|
    config.ssh.insert_key = false
    config.vm.synced_folder '.', '/vagrant', disabled: true
    config.vm.provider :libvirt do |v|
        # We can not use qemu_use_session universally. See section "Upgrade/compatibility impact"
        # from the following Fedora doc:
        # https://fedoraproject.org/wiki/Changes/Vagrant_2.2_with_QEMU_Session
        v.qemu_use_session = false

        # change cpu mode to passthrough as workaround for problems in the ci,
        # refer to bugs:
        # https://bugzilla.redhat.com/show_bug.cgi?id=1467599
        # https://bugzilla.redhat.com/show_bug.cgi?id=1386223#c10
        # vagrant-libvirt/vagrant-libvirt#667
        # taken from:
        # https://github.com/heketi/heketi/pull/1008
        v.cpu_mode = 'host-passthrough'
    end
{% for host in data.hosts %}
    {%- set node = config.nodes[host] %}
    {%- set vm_idx = loop.index0 +%}
    config.vm.define "{{ host }}" do |node|
        node.vm.box = "{{ config.provisioners[node.provisioner].images[node.os] }}"
        node.vm.hostname = "{{ host }}"
    {%- for net in node.networks +%}
        node.vm.network :private_network, ip: "{{ node.networks[net] }}"
    {%- endfor +%}
        node.vm.provider :virtualbox do |vb|
    {%- for size in node.disks +%}
            vb.customize [ "createhd", "--filename", "disk-{{ vm_idx }}{{ loop.index0 }}.vdi", "--size", {{ size * 1024 }} ]
            vb.customize [ "storageattach", :id, "--storagectl", "SATA Controller", "--port", {{ loop.index0 + 3 }}, "--device", 0, "--type", "hdd", "--medium", "disk-{{ vm_idx }}{{ loop.index0 }}.vdi" ]
    {%- endfor +%}
            vb.memory = {{ node.memory }}
            vb.cpus = {{ node.cpus }}
        end
        node.vm.provider :libvirt do  |lv|
    {%- if node.system_disk is defined +%}
            lv.machine_virtual_size = {{ node.system_disk }}
    {%- endif +%}
    {%- if data.pool is defined +%}
            lv.storage_pool_name = "{{ data.pool }}"
    {%- endif +%}
    {%- for size in node.disks +%}
            lv.storage :file, :device => "vd{{ "bcdefghijklmnopqrstuvwxyz"[loop.index0] }}", :path => "disk-{{ vm_idx }}{{ loop.index0 }}.disk", :size => '{{ size }}G'
    {%- endfor +%}
            lv.memory = {{ node.memory }}
            lv.cpus = {{ node.cpus }}
        end
    end
{% endfor %}

    config.vm.provision "shell", inline: <<-SHELL
        echo y | parted /dev/vda ---pretend-input-tty resizepart 1 100%
        resize2fs /dev/vda1
        mkdir /root/.ssh
        chmod 0700 /root/.ssh
        echo "{{ ssh_key_pub }}" >>/root/.ssh/authorized_keys
        chmod 0600 /root/.ssh/authorized_keys
    SHELL
end
