resources:
{%- for share in samba_shares +%}
- resource_type: ceph.smb.share
  cluster_id: site
  share_id: {{ share.name }}
  intent: present
  name: {{ share.name }}-{{ config.be.name }}-{{ config.be.variant }}
  cephfs:
    volume: sit_fs
    path: /
    subvolume: {{ share.name }}
{%- endfor +%}
