[{{ name }}]
comment = For samba share of subvolume {{ name }}
vfs objects = acl_xattr
{%- if config.be.variant == 'vfs' %} ceph
ceph:config_file = /etc/ceph/sit.ceph.conf
ceph:user_id = sit
{%- endif +%}
browseable = yes
read only = no
{%- if config.be.variant == 'vfs' +%}
path = {{ subvol }}
{%- else +%}
path = {{ path }}
{%- endif %}
