[{{ name }}-{{ config.be.name }}-{{ config.be.variant }}]
comment = Volume '{{ name }}' from {{ config.be.name }}({{ config.be.variant }})
vfs objects = acl_xattr ceph_snapshots
{%- if config.be.variant == 'vfs' %} ceph
ceph:config_file = /etc/ceph/sit.ceph.conf
ceph:user_id = sit
path = {{ subvol }}
{%- else +%}
path = {{ path }}
{%- endif +%}
browseable = yes
read only = no
{%- for option, value in volume.samba.options.items() | default([]) +%}
{{ option }} = {{ value }}
{%- endfor +%}
