config:
  os:
    id: "{{ os }}"
    name: "{{ os_names[os] }}"
    includes: {{ os_includes[os] }}
    vagrant:
      image: "{{ vagrant_images[os] }}"
  be:
    id: "{{ be }}"
    name: "{{ be_names[be] }}"
