server: {{ public_interfaces[0] }}

users:
  {%- for name in config.accounts +%}
    {%- for user_name in config.accounts[name].users +%}
      {%- set user = config.accounts[name].users[user_name] +%}
      {%- if user.samba +%}
  {{ user_name }}: {{ user.password }}
      {%- endif +%}
    {%- endfor +%}
  {%- endfor +%}

backend: {{ config.be.name }}

shares:
  {%- for share in samba_shares +%}
    {%- if config.be.methods is defined +%}
      {%- if test_casesensitive_cephfs is defined or not (share.cephfs.options.casesensitive | default(false)) +%}
        {%- for method in config.be.methods +%}
          {%- if method != 'kclient' or (share.cephfs.options.casesensitive | default(false)) +%}
  {{ share.name }}-{{ config.be.name }}-{{ config.be.variant}}-{{ method }}:
    backend:
      name: {{ config.be.name }}
      variant: {{ config.be.variant}}
      method: {{ method }}
      path: {{ config.paths.mount }}/backends/{{ share.name }}
          {%- endif +%}
        {%- endfor +%}
      {%- endif +%}
    {%- else +%}
  {{ share.name }}-{{ config.be.name }}-{{ config.be.variant }}:
    backend:
      name: {{ config.be.name }}
      variant: {{ config.be.variant}}
      method: default
      path: {{ config.paths.mount }}/backends/{{ share.name }}
    {%- endif +%}
  {%- endfor +%}
