server: {{ public_interfaces[0] }}

users:
  {%- for name in config.accounts +%}
    {%- for user_name in config.accounts[name].users +%}
      {%- set user = config.accounts[name].users[user_name] +%}
      {%- if user.samba +%}
  {{ user_name }}: {{ user.password }}
      {%- endif +%}
    {%- endfor +%}
  {%- endfor +%}

backend: {{ config.be.name }}

shares:
  {%- for share in sharenames +%}
  {{ share }}-{{ config.be.name }}-{{ config.be.variant }}:
    backend:
      name: {{ config.be.name }}
      variant: {{ config.be.variant}}
      path: {{ config.paths.mount }}/backends/{{ share }}
  {%- endfor +%}
