---
name: SIT Environment CI

on:
  pull_request:
    branches: [main]

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Run yamllint check
        run: make yamllint
